version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "4001:4001"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "5001:5001"
    depends_on:
      - backend
    restart: always
